extends layout

block content
  main.container.container-narrow.form-signin.mb-3
    form(autocomplete='off', method='post', action=`/interaction/${uid}/confirm`)
      
      h1.h3.mb-3.fw-normal.text-center Authorise

      p= `${client.clientName || 'The client'} is asking you to confirm a new authorisation.`

      if missingScopes && missingScopes.length > 0
        h2 Scopes
        ul
          each scope in missingScopes
            li= scope

      if missingClaims && missingClaims.length > 0
        h2 Claims
        ul
          each claim in missingClaims
            li= claim

      if missingResourceScopes
        h2 Resource scopes
        ul
          each scopes, indicator in missingResourceScopes
            li
              strong=indicator
              |: #{scopes}

      if params.scope && params.scope.includes('offline_access')
        h2 Offline access
          = `${client.clientName || 'The client'} is asking to have offline access to this authorisation.`
          if !missingScopes.includes('offline_access')
          |
          | This was previously granted.
      
      button.btn.btn-lg.btn-primary.me-3(type='submit' autofocus) Confirm authorisation
      a.btn.btn-lg.btn-link(href=`/interaction/${uid}/abort` role='button') Cancel
    
