extends layout

block content
  main.container.container-narrow.form-signin.mb-3
    form(autocomplete='off', method='post', action=`/interaction/${uid}/login`)

      if client.logoUri
        img.d-block.w-50.mx-auto.mb-3(src=client.logoUri alt='')

      h1.h3.mb-3.fw-normal.text-center Sign in

      if flash
        .alert.alert-danger(role='alert')
          = flash
      
      label(for='inputEmail' class='visually-hidden') Email address
      input.form-control#inputEmail(
        required
        type='email'
        name='email'
        placeholder='Email address'
        value=email
        autofocus=!email
      )
      label(for='inputPassword' class='visually-hidden') Password
      input.form-control#inputPassword(
        type='password'
        name='password'
        placeholder='Password'
        autofocus=!!email
      )
      
      button.w-100.btn.btn-lg.btn-primary(type='submit') Sign-in
    
